   body{
      background-color: black;
    }
    h1{color: red;}
    button {
      border: 50px;
      height: 100px;
      width: 100px;
      margin: 15;
      padding-left: 0px;
      padding-bottom: 0px;
      padding-right: 0px;
      padding-top: 0px;
      border-radius: 50px;
      color: black;
      cursor: pointer;
    font-weight: bold;}
    .s{
      border-radius: 50px;}
    img {
      height: 100px;
      display: block;
      margin: auto;
    }
    p{
      color:white;}
    .reset,.auto{
      color: rgb(0, 0, 0);
      background-color: rgb(0, 42, 255);
      height: 1cm;
      width: 4cm;
      font-size: medium;
      font-family: 'Times New Roman', Times, serif;
    }
    .computer{
      border-radius: 50px;
    }
    .player{
      border-radius: 50px;
    }